body {
  background-color: rgb(234, 230, 227) !important;
}

.border-round {
  border-radius: 12px;
}

.border-left {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.border-right {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-cici {
  color: '#f1d7dd';
}

.bg-cici {
  background-color: '#f1d7dd';
}

.bg-white {
  background-color: '#fff';
}

.cursor-pointer {
  cursor: pointer;
}

.font-arvo {
  font-family: 'Arvo', serif;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*
    colores
    #f3c3d3 #fbf4f6 #fcc3d2 #f1d7dd #efccd3 #e4c7ce# f6cbdc #dccacf

*/
