html,
body {
  background-color: rgb(234, 230, 227);
}

[data-theme='light'],
[data-theme='light'] body {
  background-color: rgb(234, 230, 227);
}

[data-theme='dark'],
[data-theme='dark'] body {
  /*background: rgb(113, 110, 110);*/
  background-color: #343a40;
}

.border-round {
  border-radius: 12px;
}

.border-round-left {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.border-round-right {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-cici {
  color: '#f1d7dd';
}

.bg-cici {
  background-color: '#f1d7dd';
}

.bg-white {
  background-color: '#fff';
}

.cursor-pointer {
  cursor: pointer;
}

.font-arvo {
  font-family: 'Arvo', serif;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.tag-discount {
  padding: 2px 5px;
  border-radius: 3px;
  background: #fff1f1;
  color: #ff4747;
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  font-size: 12px;
  font-weight: 600;
  vertical-align: middle;
}

/* FOOTER */

.footer-section {
  background: #232f3e;
  padding-top: 75px;
  color: '#fff';
}

.footer-left {
  margin-bottom: 30px;
}

.footer-left .footer-logo {
  margin-bottom: 24px;
}

.footer-left ul li {
  list-style: none;
  color: #b2b2b2;
  font-size: 16px;
  line-height: 30px;
}

.footer-left .footer-social {
  padding-top: 25px;
}

.footer-widget {
  margin-bottom: 30px;
}

.footer-widget ul li {
  list-style: none;
}

.footer-widget ul li a {
  line-height: 36px;
  font-size: 16px;
  color: #b2b2b2;
}

.footer-widget h5 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 26px;
}

.newslatter-item p {
  color: #b2b2b2;
  line-height: 26px;
}

.newslatter-item h5 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}

.newslatter-item .subscribe-form {
  position: relative;
}

.newslatter-item .subscribe-form input {
  color: #b2b2b2;
  background: #303030;
  width: 100%;
  height: 46px;
  font-size: 16px;
  border: none;
  padding-left: 20px;
}

.newslatter-item .subscribe-form button {
  display: inline-block;
  color: #ffffff;
  background: #f1d7dd;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #f1d7dd;
  position: absolute;
  right: 0;
  top: 0;
  padding: 13px 20px 12px;
  cursor: pointer;
}

.spiner-cici {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #f0adbc;
  animation: spin 1s linear infinite;
}

.time {
  display: inline-block;
}

.time .dice {
  color: #343a40;
  font-size: 13px;
  padding: 5px;
  border-radius: 4px;
  background-color: #f1d7dd;
}

.time .split {
  color: #343a40;
  font-weight: 700;
  padding: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.faq ul li {
  padding: 6px;
}

.faq h5 {
  color: #f47f9c;
}

.faq ul li span {
  padding: 6px;
  text-decoration: none;
  color: #232f3e;
}

.faq ul li span:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #f47f9c;
  color: #f47f9c;
}

/*
    colores
    #f3c3d3 #fbf4f6 #fcc3d2 #f1d7dd #efccd3 #e4c7ce# f6cbdc #dccacf

*/
